body {
  font-family: 'Roboto'!important;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-height: 100%;
  max-width: 100%!important;
  padding: 6% 12%!important;
  transition: all 0.5s ease;
}

.search_bar > select{
  height: 35px;
  border-radius: 10px;
  background: #ffffffdb;
}
 
.mainTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  background: #ffffffe3;
}

.infoBeer {
  background: #dfdfdf66;
  padding: 40px;
  float: right!important;
  border-radius: 10px;
}

.slogan {
  font-style: italic;
}

.image_beer {
    height: 200px;
    width: auto;
}

.containerAmertume {
  height: 30px;
  position: relative;
  margin-bottom: 15px;
}
.divBackgroundAmertume{
  background: #dfdfdf66;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.divAmertume{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDegre {
  height: 30px;
  position: relative;
  margin-bottom: 15px;
}
.divBackgroundDegre {
  background: #dfdfdf66;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.divDegre {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ebcDiv {
    width: 100px;
    height: 100px;
}

.color-black {
  color: black;
}
.color-white {
  color: white;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}

.ebc-0 {
    background-color: rgb(255, 255, 255); }

.ebc-1 {
    background-color: rgb(250, 250, 188); }
  
  .ebc-2 {
    background-color: rgb(250, 250, 160); }
  
  .ebc-3 {
    background-color: rgb(250, 250, 133); }
  
  .ebc-4 {
    background-color: rgb(250, 250, 105); }
  
  .ebc-5 {
    background-color: rgb(250, 250, 78); }
  
  .ebc-6 {
    background-color: rgb(245, 246, 50); }
  
  .ebc-7 {
    background-color: rgb(240, 238, 46); }
  
  .ebc-8 {
    background-color: rgb(235, 228, 47); }
  
  .ebc-9 {
    background-color: rgb(230, 218, 48); }
  
  .ebc-10 {
    background-color: rgb(224, 206, 50); }
  
  .ebc-11 {
    background-color: rgb(219, 196, 51); }
  
  .ebc-12 {
    background-color: rgb(214, 186, 52); }
  
  .ebc-13 {
    background-color: rgb(209, 176, 54); }
  
  .ebc-14 {
    background-color: rgb(204, 166, 55); }
  
  .ebc-15 {
    background-color: rgb(200, 156, 56); }
  
  .ebc-16 {
    background-color: rgb(197, 146, 56); }
  
  .ebc-17 {
    background-color: rgb(195, 139, 56); }
  
  .ebc-18 {
    background-color: rgb(192, 136, 56); }
  
  .ebc-19 {
    background-color: rgb(192, 132, 56); }
  
  .ebc-20 {
    background-color: rgb(192, 128, 56); }
  
  .ebc-21 {
    background-color: rgb(192, 124, 56); }
  
  .ebc-22 {
    background-color: rgb(192, 120, 56); }
  
  .ebc-23 {
    background-color: rgb(192, 116, 56); }
  
  .ebc-24 {
    background-color: rgb(192, 112, 56); }
  
  .ebc-25 {
    background-color: rgb(192, 109, 56); }
  
  .ebc-26 {
    background-color: rgb(188, 105, 56); }
  
  .ebc-27 {
    background-color: rgb(183, 101, 56); }
  
  .ebc-28 {
    background-color: rgb(178, 97, 56); }
  
  .ebc-29 {
    background-color: rgb(171, 94, 55); }
  
  .ebc-30 {
    background-color: rgb(164, 90, 53); }
  
  .ebc-31 {
    background-color: rgb(157, 86, 52); }
  
  .ebc-32 {
    background-color: rgb(149, 82, 51); }
  
  .ebc-33 {
    background-color: rgb(141, 77, 49); }
  
  .ebc-34 {
    background-color: rgb(134, 73, 46); }
  
  .ebc-35 {
    background-color: rgb(127, 69, 43); }
  
  .ebc-36 {
    background-color: rgb(119, 66, 39); }
  
  .ebc-37 {
    background-color: rgb(112, 62, 36); }
  
  .ebc-38 {
    background-color: rgb(105, 58, 31); }
  
  .ebc-39 {
    background-color: rgb(98, 54, 25); }
  
  .ebc-40 {
    background-color: rgb(91, 51, 19); }
  
  .ebc-41 {
    background-color: rgb(84, 47, 13); }
  
  .ebc-42 {
    background-color: rgb(77, 43, 8); }
  
  .ebc-43 {
    background-color: rgb(69, 39, 11); }
  
  .ebc-44 {
    background-color: rgb(62, 36, 13); }
  
  .ebc-45 {
    background-color: rgb(54, 31, 16); }
  
  .ebc-46 {
    background-color: rgb(47, 27, 19); }
  
  .ebc-47 {
    background-color: rgb(39, 24, 21); }
  
  .ebc-48 {
    background-color: rgb(36, 21, 20); }
  
  .ebc-49 {
    background-color: rgb(33, 20, 19); }
  
  .ebc-50 {
    background-color: rgb(31, 18, 17); }
  
  .ebc-51 {
    background-color: rgb(28, 16, 15); }
  
  .ebc-52 {
    background-color: rgb(28, 15, 14); }
  
  .ebc-53 {
    background-color: rgb(23, 13, 12); }
  
  .ebc-54 {
    background-color: rgb(21, 11, 10); }
  
  .ebc-55 {
    background-color: rgb(18, 10, 9); }
  
  .ebc-56 {
    background-color: rgb(16, 8, 7); }
  
  .ebc-57 {
    background-color: rgb(13, 6, 5); }
  
  .ebc-58 {
    background-color: rgb(11, 5, 4); }
  
  .ebc-59 {
    background-color: rgb(9, 3, 2); }
  
  .ebc-60 {
    background-color: rgb(6, 2, 1); }
    